/* Content Header Designs */
.content .header {
    width: 100%;
    padding: 50px 0px 50px 0px;
    color: white;
    background-color: #94ebd8;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.sitename {
    position: relative;
    bottom: 35px;
    left: 10px;
    float: left;
}

.nav {
    position: relative;
    bottom: 5px;
    right: 10px;
    float: right;
}

.nav a, .nav a:active, .sitename a {
    text-decoration: none;
    color: white;
}

/* Signin & Signup Design */
.signin h1 {
    position:relative;
    color: white;
    text-align: center;
    top: 35px;
}

.signin h1 a {
    pointer-events: none;
}

.signin {
    width: 300px;
    margin: 100px auto 30px;
    padding: 15px;
    position: relative;
    border: 1px solid black;
    border-radius:5%;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    background-color: #94ebd8;
}

.signin input , .form-card input, .dropdown{
    width: 100%;
    padding: 8px 4px 8px 10px;
    border: 1px solid rgba(78,48,67, 0.8);
    font-size: 13px;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.signin p {
    text-align: center;
    font-size: 10px;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.signin li{
    font-size: 10px;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

/* Table design */
table {
    position: relative;
    width: 60%;
    min-width: 650px;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

td a, a {
    color: black;
}

/* Input form design */
.form-card{
   position: relative;
   width: 300px;
   background-color: #94ebd8;
   margin: 0 auto;
   padding: 15px;
   font-family: 'Raleway', 'Lato', Arial, sans-serif;
   border-radius: 5px;
   top: 30px;
}

.form-card p{
    font-size: 15px;
}

/* Elements design */
#err_msg{
   text-align: center;
   font-size: 10px;
   font-family: 'Raleway', 'Lato', Arial, sans-serif;
   background-color: #ed4337;
   border: 1px solid #ed4337;
   border-radius:10px;
   padding: 5px;
}

h3 {
    position: relative;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

h3, #birth, #vit_stat, #act{
   text-align: center;
}

#birth{
    min-width: 100px;
}
#full-name{
    min-width: 150px;
}

hr {
   border-top: 1.5px solid black;
}