<div class="content">
{% extends "base.html" %}

{% block content %}
    <div class="form-card">
        <h3> {{ format.upper }} MEMBER </h3>
        <hr/>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{{ format }}">
        </form>
    </div>
{% endblock %}
</div>