{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Family Pedigree Site {% if username %} - {{ username }} {% endif %} </title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="header">
        <div class="sitename">
            <h1> <a href="{% url 'homepage' %}">FAMILY PEDIGREE </a></h1>
        </div>
        <div class="nav">
            {% url 'homepage' as home_url %}
            {% url 'editaccount' as profile_url %}
            {% url 'signin' as signin_url %}
            {% url 'signout' as signout_url %}
            {% url 'signup' as signup_url %}

            {% if request.get_full_path != signin_url and request.get_full_path != signup_url and request.get_full_path != signout_url%}
                {% if request.get_full_path != home_url %}
                    <a href="{{ home_url }}"> Home </a>|
                {% endif %}
                {% if request.get_full_path != profile_url %}
                    <a href="{{ profile_url }}"> Profile </a>|
                {% endif %}
                <a href="{% url 'signout' %}"> Sign out</a>
            {% endif %}
        </div>
    </div>
    <br>
    {% block content %}
    {% endblock %}
</body>
</html>