<div class="content">
{% extends "base.html" %}

{% block content %}
    <div class="form-card">
        <h3> Edit account - Change Password </h3>
        <hr/>
        {% if message %} <div id="err_msg">{{ message }}</div> {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Change Password"></p>
        </form>
    </div>
{% endblock %}
</div>