<div class="content">
{% extends "base.html" %}

{% block content %}
    <div class="form-card">
        <h3> DELETE MEMBER </h3>
        <hr/>
        <form action="" method="POST">
            {% csrf_token %}
            <p> <b> Relationship </b> : {{ relationship }}</p>
            <p> <b> Name </b>: {{ first_name }} {{ last_name }}</p>
            <p> <b> Birthday</b>: {{ birthday }} </p>
            <p> <b> Vital Status</b>: {{ vital_status }} </p>
            <input type="submit" value="Delete Member">
        </form>
    </div>
{% endblock %}
</div>