<div class="content">
{% extends "base.html" %}

{% block content %}
    <div class="form-card">
        <h3> Edit account </h3>
        <hr>
        {% if message %} <i>{{ message }}</i> {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p> Password: <a href="{% url 'changepass' %}"> Change </a></p>
            <p><input type="submit" value="Edit Account"></p>
        </form>
    </div>
{% endblock %}
</div>