<div class="content">
{% extends "base.html" %}

{% block content %}

<h3><b> User Information </b></h3>
<table>
    <tr>
        <th> NAME </th>
        <th> BIRTHDAY </th>
        <th> VITAL STATUS </th>
    </tr>
    <tr>
        <td> <a href="{% url 'editaccount' %}">{{ user.first_name }} {{ user.last_name }}</a></td>
        <td id="birth"> {{ account.birthday }} </td>
        <td id="vit_stat"> {{ account.vital_status }}</td>
    </tr>
</table>

<h3> Family Tree [<a href="{% url 'addmember' account.id %}">Add Member]</a></h3>
{% if member %}
    <table>
        <tr>
            <th> NAME </th>
            <th> RELATIONSHIP </th>
            <th> BIRTHDAY </th>
            <th> VITAL STATUS </th>
            <th> ACTION </th>
        </tr>
        {% for m in member %}
            {% if m.account_id == account.id %}
                <tr>
                    <td id="full-name"> <a href="{%url 'editmember' m.id %}">{{ m.first_name }} {{ m.last_name }}</a></td>
                    <td id="rel"> {{ m.relationship }} </td>
                    <td id="birth"> {{ m.birthday }}</td>
                    <td id="vit_stat"> {{ m.vital_status }}</td>
                    <td id="act"> <a href="{% url 'deletemember' m.id %}"> Delete </a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
</div>