<div class="signin">
{% extends "base.html" %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <hr/>
        <input type="submit" value="Sign Up">
        <p>Already registered? <a href="{% url 'signin' %}"> Sign in</a> now!</p>
    </form>
{% endblock %}
</div>