<div class="signin">
    {% extends "base.html" %}

{% block content %}
{% if error_message %}
    <p id="err_msg">{{ error_message }}</p>
{% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sign In">
        <p class="question"> No account yet? <a href="{% url 'signup' %}">Sign up</a> now!</p>
    </form>
{% endblock %}
</div>